!!!
%html
  %head
    %title GeoMap Exercise
    %script{ src: "/components/jquery/dist/jquery.min.js", type: "text/javascript"}
    %script{ src: "/components/underscore/underscore.js", type: "text/javascript"}
    != css :application
    != js :application
  %body
    #map